script(src="scripts/signout.js" defer) 

header
  a
    h2 Bedrock Drive
  ul
    if currentUser
      li
        a.signout-btn(href="javascript:void(0)") Sign out
    else
      li
        a(href="/signin") Sign in
      li
        a(href="/register") Register