<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% const animals = ["dog", "cat", "bird", "lizard", "fish", "turtle"] %>
  <ul>
    <% animals.map(animal => { %>
      <li><%= animal %> the animal</li>
    <% }); %>
  </ul>
</body>
</html>